* {
    text-align: center;
}
body {
    font-size: 15px;
    font-family: garamond;
    margin: 40px;
}

/* header stylesheet begins here */
header .header-one {
    font-weight: 200;
    font-size: large;
}
header .header-two {
    font-weight: 900;
    font-size: large;
}
header .header-par {
    font-weight: 300;
    font-size: small;
}
/* header stylesheet ends here */

/* card stylesheet starts here */
.my-row {
    display: flex;
}
.my-row .col {
    width: 33.33%;
    margin: 10px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
      
  }
@media screen and (max-width: 600px) {
    .my-row {
      display: block;
      width: 100% !important;
    }
    .my-row .col {
        width: 100%;
        margin: 0px;
        padding: 0px;
      }
}
.my-row .card {
    background-color: white;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0px;
    color: #000000;
    width: 100%;
    height: auto;
    border-radius: 3px;
    box-shadow: 1px 3px 6px#c8c7c7;
}
.my-row .card .card-h, .card-p {
    text-align: left;
    font-size: small;
    padding-left: 14px;
}
.my-row .card .card-image {
    height: 40px;
    width: 40px;
    position: relative;
    float: right;
    margin: 15px !important;
}
.my-row .top1{
    border-top: 3px solid;
    border-top-color: hsl(0, 78%, 62%)
}
.my-row .top2{
    border-top: 3px solid;
    border-top-color: hsl(212, 86%, 64%);
}
.my-row .top3{
    border-top: 3px solid;
    border-top-color: hsl(180, 62%, 55%);
}
.my-row .top4{
    border-top: 3px solid;
    border-top-color: hsl(34, 97%, 64%);
}
/* card stylesheet ends here */

/* start of footer stylesheet */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    font-weight: bolder;
    text-decoration: none;
}
/* end of footer stylesheet */